.navigation{
    background: #0B79DE;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.button{
    margin-left: 20px;
}

/*SearchTraining styles*/

.button_plus{
    margin-left: 20px;
    font-size: 20px;
}

.inputCode{
    font-size: 18px;
    border-color: black;
}


/*styles for card in TrainingItem*/

.training{
    width:100%;
    height: 400px;
    margin: 20px 0;
    padding:10px;
    background: #91ccff;
    font-size: 20px;
}

.image_training{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*styles for questionary*/

.main_header{
    color:#0B79DE;
}

.input_size{
    width: 400px;
}


